.add-voluntary-container {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  max-width: 800px;
}
.add-voluntary-container.only-name {
  max-width: 500px;
}

#add-voluntary {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #c6f44b;
  padding: 8px 16px;
  border: none;
  box-shadow: 1px 1px 3px 0px;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 570px) {
  #add-voluntary {
    font-size: 10px;
  }
}

#add-voluntary:hover {
  background-color: #83aa17;
}

#volunteers-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 16px;
}

#table-container {
  display: block;
  width: 80%;
  max-width: 800px;
}

@media (max-width: 710px) {
  #table-container {
    overflow: auto;
  }
}

/* VOLUNTEERS TABLE STYLES */

#volunteers-table {
  background-color: #35a1ea3b;
  color: #000000;
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
}

#volunteers-table.only-name {
  width: 80%;
  max-width: 500px;
}

#volunteers-table .table-head {
  background-color: #35a1ea;
}

#volunteers-table td,
#volunteers-table th {
  border: 1px solid #0e0e0e;
  text-align: left;
  padding: 8px;
}

#volunteers-table th {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 570px) {
  #volunteers-table th {
    font-size: 16px;
  }
  #volunteers-table td {
    font-size: 12px;
  }
}

#volunteers-table .name-cell {
  width: 40%;
}

#volunteers-table .birthday-cell > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#volunteers-table .options {
  cursor: pointer;
  position: relative;
}

#volunteers-table .options .options-menu {
  position: absolute;
  top: -12px;
  right: 8px;
  padding: 0;
  list-style-type: none;
  background-color: #46a9ec;
  box-shadow: 0 0 6px #c9c9c9;
  z-index: 2;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease;
}

#volunteers-table .options:hover .options-menu {
  transform: scale(1);
}

#volunteers-table .options-menu > li {
  border: solid 1px black;
  display: flex;
  padding: 4px;
  font-size: 16px;
  margin-bottom: 2px;
  justify-content: flex-start;
  align-items: center;
}

#volunteers-table .options-menu > li:hover {
  background-color: #4193ca;
}

#volunteers-table .icon-menu {
  margin-right: 4px;
}

#volunteers-table .empty-row td {
  text-align: center;
}

/* MODAL STYLES */

.drawer-background {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000066;
}

.drawer-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  position: absolute;
  right: 0;
  height: 100%;
}

.modal-background {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000066;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  position: absolute;
  right: 20%;
  top: 20%;
}

.drawer-content > span {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
}

#form-inputs {
  display: flex;
  flex-direction: column;
}

#form-inputs input {
  margin-bottom: 8px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}

.action-buttons > button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 8px;
  border: none;
  box-shadow: 1px 1px 3px 0px;
  cursor: pointer;
  text-transform: uppercase;
}

.submit-button {
  background-color: #c6f44b;
}

.submit-button:hover {
  background-color: #83aa17;
}

.cancel-button {
  background-color: #fd3030;
}
.cancel-button:hover {
  background-color: #df2323;
}

.close-icon {
  cursor: pointer;
}